

// Variables

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-button-shadow: #444;


/* Global Reset for browsers */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Root font size is in the html element, rem is a relative unit based off root font-size!
    If font-size is 10px then 1rem = 10px
    If font-size is 16px then 1rem = 16px  etc.. */
html {
    /* Default browser font size is 16px, so 100% would be 16px. We want 10 Pixels. 10px/16px = 62.5% */
    font-size: 62.5%;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;

    // 16 pixel font-size
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;

    box-sizing: border-box;
}


/* HEADER SECTION */
.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right, 
        rgba($color-primary-light, 0.77), 
        rgba($color-primary-dark, 0.77)), 
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 40px;
    }
    
    &__heading-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* Translates 50% of the heading-box's width and height of itself */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* Used to fix weird shaking that can occur in animations */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInLeft 1.75s ease-in-out;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation: moveInRight 1.75s ease-in-out;
    }
}

// KEYFRAME ANIMATIONS

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-0.7rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}




// Buttons Properties
.btn {

    &:link,
    &:visited {
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1.5rem 3.5rem;
        font-size: 1.6rem;
        border-radius: 10rem;
        transition: all 0.25s;
    }

    &:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0.2rem 0.8rem 1.2rem $color-button-shadow;

        /* The "after" button will scale up and become transparent when hovering over the regular button */
        &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
        }
    }
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0.1rem 0.5rem 1rem $color-button-shadow;
    }
    &:focus {
        outline: none;
    }
    
    /* Hiding a second button with the same dimensions behind the original button */
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.35s;
    }
    
    /* Properties for White button and the second button hiding behind the first button */
    &--white {
        color: $color-gray-dark;
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }
    
    
    // Applying animation to the landing page button
    &--animated {
        animation: moveInUp 1.6s ease-in-out 0.7s;
    
        /* backwards will auto apply the initial conditions in the keyframe, the 0% conditions */
        animation-fill-mode: backwards;
    }  
}
